/*RESPONSIVE POUR TABLETTE ENTRE 769PX ET 1024PX*/
.container{
    max-width: 100vw;
}
.logo{
    padding-left: 5px;
}
.top-page{
    padding-left: 5px;
}
#bloc_hebergements{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5% 1fr 1fr 1fr 5%;
    row-gap: 2%;
    column-gap: 5%;
    min-width: 55%;
    margin-right: 20px;
}
.no3{
    grid-column: 1/2;
    grid-row: 3/4;
}
.no4{
    grid-column: 2/3;
    grid-row: 3/4;
}
.no5{
    grid-column: 1/2;
    grid-row: 4/5;
}
.no6{
    grid-column: 2/3;
    grid-row: 4/5;
}
.hebergements_text-end{
    grid-column: 1/2;
    grid-row: 5/6;
    padding-bottom: 20px;
}
.hebergements_title{
    margin-top: -5px;
}
.hebergements_article{
    max-width: 250px;
}
.hebergements_article img{
    max-height: 110px;
}
.hebergements_les-plus-populaires_article{
    max-height: 250px;
}
.activites-marseille_title{
        grid-column: 1/span 2;
}
.ac4 img, .ac5 img{
    height: 82%

}
.bloc_hebergements-et-les-plus-populaire{
    height:100%;
}
#bloc_les-plus-populaires{
    min-width: 30%;
}
.les-plus-populaires_article{
    height: 170px;
}
.les-plus-populaires_article h2{
    padding-top: 5px;
    padding-right: 5px;
}
.les-plus-populaires_stars{
    padding-top: 15px;
    
}
.activites-marseille_article h2{
    padding-top: 2px;
    padding-bottom: 5px;
}

