/*Responsive pour smartphone - en dessous de 768px */
.container{
    max-width:700px;
    min-width: 350px;
    margin: auto;
}
header{
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 25px;
}
.menu{
    margin:auto;
}
.menulien{
    
    border-bottom: 3px solid silver;
    padding-bottom: 10px;
    color: black;
    padding-left: 65px;
    padding-right: 65px;
    margin-left: -70px;
}
.menulien:hover{
    color:#0065FC;
    border-bottom:3px solid #0065FC;
}
.hebergements{
    border-top:none;
}
.sinscrire{
    position: absolute;
    top: 25px;
    left: 300px;
}
.formulaire{
    position: relative;
    width: 250px;
}
.button{
    position: absolute;
    color:#0065FC;
    border-radius:15px;
    width:60px;
    left: 260px;   
}
.filtres{
    display: flex;
    flex-direction: row;
}
.titre{
    line-height: 1.2em;
}

.icosearch{
    position: absolute;
    color: white;
    top:255px;
    left: 280px;
}
.txt-search-hide{
    position: absolute;
    top: -10000px;
}

.filtres{
    min-width: 320px;
    flex-direction: row;
    flex-wrap: wrap;
}
.filtre{
    top: 50px;
    margin-top: 15px;
    max-width: 150px;
}
.titrefiltre{
    position: absolute;
}
.info{
    margin-top: 80px;
}
main{
    display: flex;
    flex-direction: column;
}

.hebergements-et-aside-flex{
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    top: 1450px;
    max-width: 350px;
}
.les-plus-populaires-flex{
    width:95%;
    padding: 0px 0px 10px 0px;
    align-items: center;
    border-radius: 0px;
}
.ico-lineup{
    left: 250px;
}
.article2{
    max-width: 280px;

}
.titre-aside{
    width:80%;
}
.hebergements-articles-grid{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0px 0px 0px 0px;
    min-width: 320px;
    max-width: 320px;
    align-items: center;
    background-color: white;

}
.article{
    max-width: 280px;
    margin-bottom: 10px;
}

.section-activites-marseille-grid{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 1420px;
    min-width: 320px;
    max-width: 320px;
    align-items: center;
}
.article3{
    max-width: 95%;
    max-height: 240px;

}
.article3 img{
    max-height: 200px;
}

footer {
    position:relative;
    top: 1400px;
}
footer .container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 45px;
    padding-right: 40px;
}