    /*Responsive pour smartphone - en dessous de 768px */
.container{
    max-width: 100%;
    margin: auto;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo{
    padding-top: 15px;
    padding-left: 15px;
    margin:inherit;

}
.top-page{
    padding-left: 15px;
}

    /*MENU MOBILE*/
nav{
    padding: inherit;
}
nav a{
    padding-top: inherit;
}
nav ul{
    padding-left: inherit;
}
.sinscrire{
    display: block;
    position: absolute;
    top: 30px;
    left: inherit;
    right: 20px;
    border: none;
    font-family: 'Raleway-Bold';
    color: #0065FC;
}
.hebergements{
    border-top: none;
    padding-top: inherit;
}
.menu_link{
    display: flex;
    justify-content: center;
    border-bottom: 3px solid silver;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 15px;
    width: 100%;
}
.menu_link:hover{
    border-bottom: 3px solid #0065FC;
    padding-bottom: 15px;
}
.activites{
    margin: inherit;
}
.top-page{
    margin:inherit;
}
.top-page_title h1{
    font-size: 1.5em;
    line-height: 1.25;
}

    /* SECTION FORMULAIRE DE RECHERCHE*/
.form-search{
    margin-left: 10px;
    display: flex;
    margin-top: 35px;
}
.form-search_form{
    width: 60%;
}
.form-search_button{
    position: relative;
    color:#0065FC;
    border-radius:15px;
    width:60px;
    margin-left: -15px; 
}
.filters_title{
    margin-top: 35px;
    padding-left: 15px;
}

.filters{
    justify-content: inherit;
}

.icosearch{
    display: inherit;
    position: absolute;
    color: white;
    top:14px;
    left:20px;
}
.txt-search_hide{
    display: none;
}

    /* SECTION FILTRES */
.filters{
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
}
.filters_block{
    position: relative;
    top: 50px;
    margin-top: 15px;
    margin-left: 15px;
}
.filters_title{
    position: absolute;
}
.info{
    margin-top: 80px;
}
    /* SECTION LES PLUS POPULAIRES + HEBERGEMENTS*/
#bloc_les-plus-populaires{
    width: 100%;
    justify-content: center;
    padding:inherit;
    padding-bottom: 35px;
    align-items: center;
    border-radius: 0px;
}
.les-plus-populaires_article{
    width: 95%;
}
.les-plus-populaires-title{
    width: 90%;
}
.bloc_hebergements-et-les-plus-populaire{
    display: flex;
    flex-direction: column-reverse;
    height: inherit;
    width: 100%;
    margin-left: inherit;
    margin-right: inherit;
}
#bloc_hebergements{
    display: flex;
    flex-direction: column;
    padding:inherit;
    width: 100%;
    margin-right:inherit;
    align-items: center;
    background-color: white;
    row-gap: 10px;
}
.hebergements_article{
    width: 95%;
}
.hebergements_title{
    margin-top: 40px;
    padding-right: 70px;
}
.hebergements_text-end{
    padding-right: 220px;
}

    /* SECTION ACTIVITES MARSEILLE*/    
#bloc_activites-marseille{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: inherit;
    margin-top: 30px;
    margin-bottom: 50px;
    row-gap: 20px;
    margin-left: inherit;
    margin-right: inherit;
}
.activites-marseille_title{
    margin-bottom: 0px;
    margin-right: 60px;
    width: 80%;
}
.activites-marseille_article{
    width: 95%;
    height: 180px;
    padding-bottom: 25px;
    margin-top: 10px;
}
.activites-marseille_article img{
    height: 90%;
}

    /* FOOTER */
footer .container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30px;
}
.menufooter{
    width: 100%;
}
footer{
    width: 100%;
}