/*Responsive pour smartphone - en dessous de 768px */
body{
    margin: 15px;
    width: 100%;
}
header{
    flex-direction: column;
    align-items: flex-start;
}
.sinscrire{
    position: absolute;
    left: 360px;
    top: -45px;
}
.menu{
    position: absolute;
    top: 60px;
}
.menulien{
    border-bottom: 3px solid silver;
    padding-bottom: 10px;
    color: black;
    margin: -45px;
    padding-left: 80px;
    padding-right: 80px;

}
.menulien:hover{
    color:#0065FC;
    border-bottom:3px solid #0065FC;
}
.hebergements{
    border-top:none;
}

/*Titre et paragraphe*/
.titre{
    position: relative;
    top: 25px;
    bottom: 15px;
    width: 100%;
    line-height: 30px;
    word-wrap:normal;
}

/*Formulaire de recherche*/
.formulaire-recherche{
    position: relative;
    top: 25px;
    bottom:50px;   
}
.button{
    position: absolute;
    color:#0065FC;
    border-radius:15px;
    width:60px;
    left: 260px;
    
}
.icosearch{
    position: absolute;
    color: white;
    top: 16px;
    left: 281px;
}

.txt-search-hide{
    position: absolute;
    top: -10000px;
}

.formulaire{
    position: relative;
    width: 220px;
}


/*Filtres*/
.filtres{
    flex-direction: row;
    flex-wrap: wrap;
}
.filtre{
    flex-direction: row;
    top: 50px;
    margin-top: 15px;
}
.titrefiltre{
    position: absolute;
}
.info{
    position: relative;
    top:40px ;
}