    /*Responsive pour smartphone - en dessous de 768px */
.container{
    max-width: 100%;
    margin: auto;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
}



    /*MENU MOBILE*/
.sinscrire{
    position: absolute;
    top:25px;
    right: 20px;
    border: none;
    font-family: 'Raleway-Bold';
    color: #0065FC;
}
.hebergements{
    border-top: none;
    padding-top: inherit;
}
.div-hebergements{
    margin-left: -10px;
}
.activites{
    margin-left: inherit;
}
.div-activites{
    margin-right: -10px;
}
.menumobile{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid silver;
    padding: 10px;
}
nav ul{
    padding: 0px;
}
.lienmob:hover{
    border-bottom: 3px solid #0065FC;
    padding-bottom: 10px;
}
.lienmob{
    padding-left: 52px;
    padding-right: 52px;
}
/*ANCIENNE CONFIGURATION SANS LA DIV MENUMOBILE
            .menu{
                margin: auto;
                justify-content: space-between;
            }
            nav ul{
                width: 98%;
                padding-left: inherit;
                border-bottom: 3px solid silver;
                padding-bottom: 10px;
            }
            nav li{
                width: 50%;
            }
            .menulien{ 
                border-bottom: 3px solid silver;
                padding-bottom: 10px;
            }
            .menulien:hover{
                color:#0065FC;
                border-bottom:3px solid #0065FC;
                padding-bottom: 10px;
            }
            .hebergements{
                position: relative;
                border-top:none;
                padding-top: inherit;
            }
            .sinscrire{
                position: absolute;
                top:25px;
                right: 20px;
                border: none;
                font-family: 'Raleway-Bold';
                color: #0065FC;
                margin-left: inherit;
                padding: inherit;
            }
            .sinscrire:hover{
                border-bottom: inherit;
            }
            .activites{
                margin-left: 20px;
            }
            ANCIENNE CONFIGURATION SANS LA DIV MENUMOBILE*/

.titre{
    margin: inherit;
}
.titre h1{
    font-family: 'Raleway-Bold';
    font-size: 1.5em;
    line-height: 1.25;
    margin-bottom: inherit;
}
.titre p{
    font-family: 'Raleway';
    font-size: 0.9em;
}

    /* SECTION FORMULAIRE DE RECHERCHE*/
.formulaire-recherche{
    margin-left: 10px;
    display: flex;
    margin-top: 35px;
}
.formulaire{
    width: 60%;
}
.button{
    position: relative;
    color:#0065FC;
    border-radius:15px;
    width:60px;
    margin-left: -15px; 
}
.filtres{
    justify-content: inherit;
}
.titre{
    line-height: 1.2em;
}
.icosearch{
    position: absolute;
    color: white;
    top:14px;
    left:20px;
}
.txt-search-hide{
    display: none;
}

    /* SECTION FILTRES */
.filtres{
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
}
.filtre{
    position: relative;
    top: 50px;
    margin-top: 15px;
}
.titrefiltre{
    position: absolute;
}
.info{
    margin-top: 80px;
}
    /* SECTION LES PLUS POPULAIRES + HEBERGEMENTS*/
.les-plus-populaires-flex{
    width: 100%;
    padding: 0px 20px 35px 20px;
    margin-left: -8px;
    align-items: center;
    border-radius: 0px;
}
.article2{
    max-width: 90%;
}
.titreaside{
    width: 90%;
}
.ico-lineup{

}
.hebergements-et-aside-flex{
    display: flex;
    flex-direction: column-reverse;
    height: inherit;
    width: 100%;
}
.hebergements-articles-grid{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding:inherit;
    width: 100%;
    align-items: center;
    background-color: white;
    row-gap: 10px;
}
.article{
    max-width: 95%;
}
.titre-section-hebergements{
    display: flex;
    margin-top: 40px;
    margin-left: -85px;
}
.end-section-hebergements{
    margin-right: 250px;
}

    /* SECTION ACTIVITES MARSEILLE*/    
.section-activites-marseille-grid{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: inherit;
    margin-top: 30px;
    margin-bottom: 50px;
    row-gap: 20px;
}
.titre-activites{
    margin-right: 60px;
    width: 80%;
}
.article3{
    width: 95%;
    height: 180px;
    padding-bottom: 25px;
    margin-top: 10px;
}
.article3 img{
    height: 90%;
}

    /* FOOTER */
footer .container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30px;
}
.menufooter{
    width: 100%;
}
footer{
    padding: 0px 30px 30px 10px;
    width: 100%;
}