/*VUE DESKTOP*/
@font-face{
    font-family:'Raleway';
        src:url('font/Raleway-Regular.ttf');
        src:url('font/Raleway-Regular.woff') format('woff');
}

@font-face{
    font-family:'Raleway-Bold';
    src: url('font/Raleway-Bold.ttf');
}
body{
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    display: block;
}
header{
    display: flex;
    justify-content: space-between;
}
img{
    object-fit: cover;
}
.container{
    max-width:1400px;
    margin:auto;
}

/*Position logo + liens de navigations*/
.logo {
    margin-right: auto;
}
.sinscrire{
    position: relative;
    right: 20px;
    left: 340px;
    bottom: 35px;
    color: #0065FC;
    text-decoration: none;
}
.sinscrire:hover{
    font-weight: bold;
}
.menu{
    font-size: 1em;
    width: 100%;
    display: flex;
    align-items: flex-end;
    list-style-type: none;
    margin-top: inherit;
}
nav li{
    display: flex;
    justify-content: center;
    width: 50%;
}
nav{
    padding-right: 220px;
}
nav a{
    text-decoration: none;
    color:#0065FC;
}
nav a:hover{
    font-weight: bold;
}
.activites{
    color: black;
    margin-left: 30px;
}
.hebergements{
    border-top:3px solid #0065FC;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.top-page_title{
    margin: 25px 0px 0px 0px;
}
.top-page_title p{
    font-size: 1em;
    margin-top: 0px;
}
.top-page_title h1{
    font-family: 'Raleway-Bold';
    margin-bottom: 10px;
    font-size: 1.45em;
}

/*Mise en page formulaire*/
.form-search{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.form-search_map-icone{
    background-color: #f2f2f2;
    padding: 15px 15px 15px 15px;
    border: 1px solid #f2f2f2;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    text-align: center;   
}
.form-search_form{
    border: 1px solid #f2f2f2;
    height: 46px;
    font-family: 'Raleway-Bold';
    font-size: 1em;
    padding-left: 10px;
}
.form-search_button{
    border: 1px solid #0065FC;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    height: 50px;
    background-color: #0065FC;
    color: white;
    font-family: 'Raleway-Bold';
    font-size: 1em;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}
.icosearch{
    display: none;
}

/*Mise en page de la section "filters" + phrase d'info*/
.filters {
    display: flex;
    align-items: flex-start;
    font-family: 'Raleway-Bold';
    margin-top: 30px;
    margin-bottom: 25px;
    width: 100%;
}
.filters_block{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    border: 2px solid #c0c0c0;
    border-radius: 30px;
    height: 44px;
    margin-left: 30px;
}
.filters p{
    padding-right: 10px;
    margin: auto;
    flex-wrap: wrap;
}
.filters_title{
    font-size: 1em;
}

.filters_icone{
    margin: 20px 5px;
    background-color: #DEEBFF;
    color: #0065FC;
    text-align: center;
    padding: 15px 15px 15px 15px;
    border-radius: 50px;
    position: relative;
    margin-top: -3px;
    margin-left: -5px;
    font-size: 1em;
}
.icofam{
    padding: 15px 17px 15px 17px;
}
.animaux{
    width:fit-content ;
}

/*Mise en pages des blocs filters cliquables*/
.filters_link{
    text-decoration: none;
    color:black;
}
a.filters_link:hover{
    color: darkred;
}

/*Phrase info*/
.info{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 25px;
}
.info_icone{
    border: 1px solid #c0c0c0;
    color:#0065FC;
    padding:5px 10px 5px 10px;
    border-radius: 50px;
    font-size: 0.8em;
}
.info p{
    margin: 5px 0px 0px 10px;
    font-size: 1em;
}

/*Section Hébergements*/
.star{
    font-size: 0.8em;
    color: #0065FC;
}
.star-v{
    font-size: 0.8em;
    color: silver;
}
.bloc_article-titre{
    font-size: 1em;
    font-family: 'Raleway-Bold';
}
.bloc_article-paragraph{
    font-size: 0.9em;
}
#bloc_hebergements{
    background-color: #f2f2f2;
    border-radius: 15px;
    margin-right: 40px;
    padding: 35px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5% 40% 40% 10%;
    row-gap: 20px;
    column-gap: 40px;
    align-items: center;       
}
#bloc_hebergements a{
    text-decoration: none;
    color: black;
}
.hebergements_title{
    font-size: 1.3em;
}
.hebergements_article{
    background-color: white;
    border: 3px solid white;
    border-radius: 15px;
    min-width: 150px;
    height: fit-content;
    padding-bottom: 5px;
    box-shadow: 0px 2px 5px silver;
}
.hebergements_article p{
    margin: inherit;
    padding: 0px 0px 8px 5px;
}
.hebergements_article h2{
    margin: inherit;
    padding: 2px 0px 3px 5px;
}
.hebergements_article img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 150px;
}
.hebergements_stars{
    padding-left: 5px;
}
.hebergements_title{
    font-family:'Raleway-Bold';
    grid-column: 1/span 2;
    grid-row: 1/2;

}
.no1{
    grid-column: 1/2;
    grid-row: 2/3;
}
.no2{
    grid-column: 2/3;
    grid-row: 2/3;
}
.no3{
    grid-column: 3/4;
    grid-row: 2/3;
}
.no4{
    grid-column: 1/2;
    grid-row: 3/4;
}
.no5{
    grid-column: 2/3;
    grid-row: 3/4;
}
.no6{
    grid-column: 3/4;
    grid-row: 3/4;
}
.hebergements_text-end{
    grid-column: 1/2;
    grid-row: 4/5;
    font-size: 1em;

}

/*Bloc aside*/
#bloc_les-plus-populaires{
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    min-width: 25%;
    border-radius: 15px;
    padding: 0px 20px 0px 20px;
    
}
#bloc_les-plus-populaires a{
    text-decoration: none;
    color: black;
}
.les-plus-populaires-title{
    padding-top: 25px;
    font-size: 1.3em;
    font-family: 'Raleway-Bold';
    padding-bottom: 20px;
}
.les-plus-populaires_article{
    margin-bottom: 35px;
    background-color: white;
    border: 3px solid white;
    border-radius: 15px;
    height: 150px;
    min-width: 200px;
    box-shadow: 0px 2px 5px silver;
}
.les-plus-populaires_stars{
    position: absolute;
    bottom: 0px;
}
.les-plus-populaires_article h2{
    margin: inherit;
}
.les-plus-populaires_article p{
    margin:inherit;
}
.les-plus-populaires_article img{
    position: relative;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 45%;
    height: 100%;
    float: left;
    padding-right: 10px;
}
.les-plus-populaire_article-text{
    position: relative;
    height: 125px;
    padding: 10px 10px 10px 0px ;
}

.bloc_hebergements-et-les-plus-populaire{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.les-plus-populaires_icone-title{
    font-size: em;
    color: black;
    width: 25px;
}
.les-plus-populaires-title{
    display: flex;
    justify-content: space-between ;
    margin-top: 15px;
}

/*Section Activités*/
#bloc_activites-marseille{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 20px auto auto 5px;
    column-gap: 42px;
    row-gap: 42px;
    margin-top: 25px;
    padding: 5px;
}
.activites-marseille_article{
    border-radius: 15px;
    box-shadow: 0px 2px 5px silver;
}
.activites-marseille_article img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width:100%;
    height: 90%;
}
.activites-marseille_article a{
    text-decoration: none;
    color: black;
    font-size: 1em;
}
.activites-marseille_article h2{
    margin: inherit;
    padding: 5px 10px 10px 10px;
}
.activites-marseille_title{
    grid-column: 1/span 2;
    grid-row: 1/2;
    font-family: 'Raleway-Bold';
    margin-left: 20px;
    font-size: 1.3em;
}
.ac1{
    grid-column: 1/2;
    grid-row: 2/4;
}
.ac2{
    grid-column: 2/3;
    grid-row: 2/3;
}
.ac3{
    grid-column: 2/3;
    grid-row: 3/4;
}
.ac4{
    grid-column:3/4;
    grid-row: 2/4;
}
.ac5{
    grid-column:4/5;
    grid-row: 2/3;
}
.ac6{
    grid-column: 4/5;
    grid-row:3/4;
}
.ac1, .ac4{
    height: 420px;
}
.ac2, .ac3, .ac5, .ac6{
    height: 170px;
    padding-bottom: 20px;
}

/*footer*/
footer{
    background-color: #f2f2f2;
    width: 100%;
}

.nav ul{
    line-height: 1.3em;
    list-style-type: none;
    padding: inherit;
}
.nav a{
    text-decoration: none;
    color: black;
    font-size: 0.9em;
    line-height: 1.5;
}
footer .container{
    display: flex;
    align-items: flex-start;
    padding: 20px 0px 20px 20px;
}
.menufooter{
    width: 33%;
}